<div class="container filter-buttons">
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#FundingStage">Funding Stage</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#Founded">Founded</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#BusinessModel">Business Model</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#ProductStage">Product Stage</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#Employees">Number of Employees</button>
</div>



<!-- Funding Stage Modal -->
<div class="modal fade" id="FundingStage" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="typeLabel">Funding Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Hold down the shift button to select multiple</p>
      <form id="funding_stage_form">
        <select multiple name="funding_stage" multiple class="modal-body form-control form-control-lg">

          <option name="bootstrapped" value="bootstrapped">Bootstrapped</option>
          <option name="pre-seed" value="pre-seed">Pre-seed</option>
          <option name="seed" value="seed">Seed</option>
          <option name="A" value="A">A</option>
          <option name="B" value="B">B</option>
          <option name="B" value="B">C</option>
          <option name="public" value="public">Public</option>
          <option name="revenue" value="revenue">Revenue Financed</option>
          <option name="established" value="established">established</option>
        </select>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- Founded Modal -->
<div class="modal fade" id="Founded" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="typeLabel">Range</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{> slider}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Business Model Modal -->
<div class="modal fade" id="BusinessModel" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="typeLabel">Business Model</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Hold down the shift button to select multiple</p>
      <form id="business_model_form">
        <select multiple name="business_model" class="modal-body form-control form-control-lg">
          <option value="B2B">B2B</option>
          <option value="B2C">B2C</option>
          <option value="B2B2C">B2B2C</option>
          <option value="B2G">B2G</option>
        </select>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- Product Stage Modal -->
<div class="modal fade" id="ProductStage" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="typeLabel">Product Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Hold down the shift button to select multiple</p>
      <form id="product_stage_form">
        <select multiple name="product_stage" class="modal-body form-control form-control-lg">
          <option value="customer development">CUSTOMER DEVELOPMENT</option>
          <option value="R&D">R&D</option>
          <option value="clinical trial">CLINICAL TRIAL</option>
          <option value="alpha">ALPHA</option>
          <option value="beta">BETA</option>
          <option value="released">RELEASED</option>
        </select>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Number of employees Modal -->
<div class="modal fade" id="Employees" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="typeLabel">Number of Employees</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Hold down the shift button to select multiple</p>
      <form id="number_of_employees_form">
        <select multiple name="number_of_employees" class="modal-body form-control form-control-lg">
          <option value="1-10">1-10</option>
          <option value="11-50">11-50</option>
          <option value="51-200">51-200</option>
          <option value="201-500">201-500</option>
          <option value="500+">500+</option>
        </select>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



<script>


  // ------- Number of Employees --------

  $.ajax({
    url: "/companies/get_all"
  }).done(function (companies) {

    localStorage.setItem('hx_companies', JSON.stringify(companies))
    var retrieved = localStorage.getItem('hx_companies');
    //console.log(JSON.parse(retrieved), 'retrieved')

  });


  var numberOfEmployees = $('#number_of_employees_form')
  var productStageForm = $('#product_stage_form')
  var businessModelForm = $('#business_model_form')
  var fundingStageForm = $('#funding_stage_form')

  numberOfEmployees.submit((event) => {
    event.preventDefault()

    // ------ this code is specific to the unique .submit function ----
    var selected = event.target.number_of_employees.selectedOptions

    var selectedOptions = []

    for (var i = 0; i < selected.length; i++) {
      var option = selected[i]
      selectedOptions.push(option.value)
    }
    // ---------- //



    function filterGate(company) {

      //  --- just change the contents of the if and the else to match the specific form -- //
      if (selectedOptions.includes(company.employees)) {
        return company
      }
      else {
        return undefined
      }
      // ------ //
    }


    filter_companies_array(filterGate)

  }

  )

  // this function is re-used to comply with DRY
  function filter_companies_array(filterGate) {

    var companiesJson = JSON.parse(localStorage.getItem('hx_companies'))

    var companies = companiesJson.companies

    if (companiesJson && companiesJson.companies) {

      var companies = companiesJson.companies

      var filtered = companies.filter((company) => {

        return filterGate(company)

      })

      render_results(filtered)

    }
  }

  // this function is re-used to comply with DRY
  function render_results(filtered) {



    if (filtered && filtered.length) {

      var companiesContainer = $('#companies_wrapper')
      var renderedHTML = ''

      filtered.map((company) => {

        var renderedCompany =
          `<div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="${company.logo}" alt="${company.name} logo">
                  <div class="card-body">
                      <h5 class="card-title">${company.name}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">${company.description}</h6>
                      <div calss="text-center">
                          <a href="#" class="btn btn-blue mx-auto">More Info</a>
                      </div>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">

                              <div class="float-left">
                                  Founded ${company.foundedDate}
                              </div>
                              <div class="float-right">
                                  ${company.category}
                              </div>

                      </small>
                  </div>
              </div>`

        renderedHTML += renderedCompany




      })

      companiesContainer.html(renderedHTML)

    }

  }

  //---------- End of number of employees ---------


  //----------- Funding Stage ---------------

  fundingStageForm.submit((event) => {
    event.preventDefault()

    // ------ this code is specific to the unique .submit function ----
    var selected = event.target.funding_stage.selectedOptions

    var selectedOptions = []

    for (var i = 0; i < selected.length; i++) {
      var option = selected[i]
      selectedOptions.push(option.value)
    }
    // ---------- //

    function filterGate(company) {

      //  --- just change the contents of the if and the else to match the specific form -- //
      if (selectedOptions.includes(company.fundingstage)) {
        return company
      }
      else {
        return undefined
      }
      // ------ //
    }


    filter_companies_array(filterGate)


  }
  )

  // -------------- End of Funding Stage ------------


  // -------------- Business Model ----------------
  businessModelForm.submit((event) => {
    event.preventDefault()

    // ------ this code is specific to the unique .submit function ----
    var selected = event.target.business_model.selectedOptions

    var selectedOptions = []

    for (var i = 0; i < selected.length; i++) {
      var option = selected[i]
      selectedOptions.push(option.value)
    }
    // ---------- //

    function filterGate(company) {

      //  --- just change the contents of the if and the else to match the specific form -- //
      if (selectedOptions.includes(company.businessModel)) {
        return company
      }
      else {
        return undefined
      }
      // ------ //
    }


    filter_companies_array(filterGate)


  }
  )
  // --------------- End of Business Model ----------

  // -------------- Product Stage -------------
  productStageForm.submit((event) => {
    event.preventDefault()

    // ------ this code is specific to the unique .submit function ----
    var selected = event.target.product_stage.selectedOptions

    var selectedOptions = []

    for (var i = 0; i < selected.length; i++) {
      var option = selected[i]
      selectedOptions.push(option.value)
    }
    // ---------- //

    function filterGate(company) {

      //  --- just change the contents of the if and the else to match the specific form -- //
      if (selectedOptions.includes(company.productStage)) {
        return company
      }
      else {
        return undefined
      }
      // ------ //
    }


    filter_companies_array(filterGate)


  }
  )
</script>