<div class="container filter-buttons">
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#FundingStage">Funding Stage</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#Founded">Founded</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#BusinessModel">Business Model</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#ProductStage">Product Stage</button>
  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#Employees">Number of Employees</button>
</div>


<!-- Funding Stage Modal -->
<div class="modal fade" id="FundingStage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Funding Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success">BOOTSTRAPPED</button>
        <button type="button" class="btn btn-success">PRE-SEED</button>
        <button type="button" class="btn btn-success">SEED</button>
        <button type="button" class="btn btn-success">A</button>
        <button type="button" class="btn btn-success">B</button>
        <button type="button" class="btn btn-success">C</button>
        <button type="button" class="btn btn-success">PUBLIC</button>
        <button type="button" class="btn btn-success">REVENUE FINANCED</button>
        <button type="button" class="btn btn-success">ESTABLISHED</button>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Founded Modal -->
<div class="modal fade" id="Founded" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{> slider}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Business Model Modal -->
<div class="modal fade" id="BusinessModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Funding Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success">B2B</button>
        <button type="button" class="btn btn-success">B2C</button>
        <button type="button" class="btn btn-success">B2B2C</button>
        <button type="button" class="btn btn-success">B2G</button>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Product Stage Modal -->
<div class="modal fade" id="ProductStage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Funding Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success">CUSTOMER DEVELOPMENT</button>
        <button type="button" class="btn btn-success">R&D</button>
        <button type="button" class="btn btn-success">CLINICAL TRIAL</button>
        <button type="button" class="btn btn-success">ALPHA</button>
        <button type="button" class="btn btn-success">BETA</button>
        <button type="button" class="btn btn-success">RELEASED</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Product Stage Modal -->
<div class="modal fade" id="Employees" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Funding Stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success">1-10</button>
        <button type="button" class="btn btn-success">11-50</button>
        <button type="button" class="btn btn-success">51-200</button>
        <button type="button" class="btn btn-success">201-500</button>
        <button type="button" class="btn btn-success">500+</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>