<!-- Footer -->
<footer style="background-color: #f8f9fa!important;">
    <div class="container-fluid">
        <div class="footer-box">
            <!-- Footer Logo-->
            <div class="container">
                <img class="logo-footer" src="/logos/GHP-HoustonX-Horiz-PMS.png">
            </div>
            <!--Social Media -->
            <div class="container-fluid social-links">

                <a href="https://twitter.com/HouEX" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="https://www.facebook.com/HoustonExponential" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="https://www.linkedin.com/company/houstonexponential" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="https://www.instagram.com/houstonexponential" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://www.flickr.com/photos/houstonexponential/albums" target="_blank">
                    <i class="fab fa-flickr"></i>
                </a>

                <a href="https://plus.google.com/111332145962652860367" target="_blank">
                    <i class="fab fa-google-plus"></i>
                </a>

                <a href="https://www.youtube.com/user/houtechcenter" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>

            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2017 Copyright:
            <a href="http://houstonexponential.org/" target="_blank"> Houston Exponential</a>
            <p>713-658-1750</p>
        </div>

    </div>
</footer>
<!-- Footer -->