<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="footer-box">
            <!-- Footer Logo-->
            <div class="container">
                <img class="logo-footer" src="/logos/hex_BW.jpeg">
            </div>
            <!--Social Media -->
            <div class="container social-links">

                <a href="https://twitter.com/HouEX">
                    <i class="fab fa-twitter"></i>

                </a>
                <a href="https://www.facebook.com/HoustonExponential">
                    <i class="fab fa-facebook"></i>

                </a>
                <a href="https://www.linkedin.com/company/houstonexponential">
                    <i class="fab fa-linkedin"></i>

                </a>
                <a href="https://www.instagram.com/houstonexponential">
                    <i class="fab fa-instagram"></i>

                </a>
                <a href="https://www.flickr.com/photos/houstonexponential/albums">
                    <i class="fab fa-flickr"></i>

                </a>
                <a href="https://plus.google.com/111332145962652860367">
                    <i class="fab fa-google-plus"></i>

                </a>
                <a href="https://www.youtube.com/user/houtechcenter">
                    <i class="fab fa-youtube"></i>

                </a>


            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2017 Copyright:
            <a href="http://houstonexponential.org/"> Houston Exponential</a>
            <p>713-658-1750</p>
        </div>

    </div>
</footer>
<!-- Footer -->
