 {{!-- Button Group --}}
<div class="container filter-buttons mx-auto">
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#type">Type</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#investmentStages">Investment Stages</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#investmentRange">Investment Range</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#managedAssets">Managed Assets</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#portfolioSize">Portfolio Size</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#foundedDate">Founded</button>
</div>

{{!-- Type Modal --}}
<div class="modal fade" id="type" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typeLabel">Investment Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p>Hold down the shift button to select multiple</p>
                <form id="investor_type_form">
                    <select multiple name="investor_type" class="modal-body form-control form-control-lg">
                        <option value="venture capital">Venture Capital</option>
                        <option value="private equity">Private Equity</option>
                        <option value="vc and pe">Venture Capital and Private Equity</option>
                        <option value="angel group">Angel Group</option>
                        <option value="angel">Angel</option>
                        <option value="incubator">Incubator</option>
                        <option value="accelerator">Accelerator</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{{!-- Investment Stages Modal --}}
<div class="modal fade" id="investmentStages" tabindex="-1" role="dialog" aria-labelledby="investmentStagesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="investmentStagesLabel">Investment Stages</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p>Hold down the shift button to select multiple</p>
                <form id="investment_stage_form">
                    <select multiple name="stage_type" class="modal-body form-control form-control-lg">
                        <option value="pre-seed">Pre-Seed</option>
                        <option value="pre-clinical trial">Pre-Clinical Trial</option>
                        <option value="seed">Seed</option>
                        <option value="clinical trial">Clinical Trial</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="late stage">Late Stage</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Investment Range Modal --}}
<div class="modal fade" id="investmentRange" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typeLabel">Investment Range</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="investment_range_form">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <span class="align-middle"></span>
                                <input name="from" placeholder="10,000" type="text" class="form-control">
                            </div>
                            <div>
                                <h1 class="form-group col-md-4">-</h1>
                            </div>
                            <div class="form-group col-md-5">
                                <span class="align-middle"></span>
                                <input name="until" placeholder="50,000,000" type="text" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- Managed Assets Modal --}}
<div class="modal fade" id="managedAssets" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typeLabel">Managed Assets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="managed_assets_form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <span class="align-middle"></span>
                                <input name="from" placeholder="1,000,000" type="text" class="form-control">
                            </div>
                            <div>
                                <h1 class="form-group col-md-4">-</h1>
                            </div>
                            <div class="form-group col-md-4">
                                <span class="align-middle"></span>
                                <input name="until" placeholder="1,000,000,000" type="text" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Portfolio Size Modal --}}
<div class="modal fade" id="portfolioSize" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typeLabel">Portfolio Size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="portfolio_size_form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <span class="align-middle"></span>
                                <input name="from" placeholder="1" type="text" class="form-control">
                            </div>
                            <div>
                                <h1 class="form-group col-md-4">-</h1>
                            </div>
                            <div class="form-group col-md-4">
                                <span class="align-middle"></span>
                                <input name="until" placeholder="500" type="text" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Founded Date Modal --}}
<div class="modal fade" id="foundedDate" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typeLabel">Founded Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="founded_range_form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <span class="align-middle"></span>
                                <input name="from" placeholder="1992" type="text" class="form-control">
                            </div>
                            <div>
                                <h1 class="form-group col-md-4">-</h1>
                            </div>
                            <div class="form-group col-md-4">
                                <span class="align-middle"></span>
                                <input name="until" placeholder="2018" type="text" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $.ajax({
        url: "/investors/get_all"
    }).done(function (investors) {

        localStorage.setItem('hx_investors', JSON.stringify(investors))
        var retrieved = localStorage.getItem('hx_investors');
        console.log(JSON.parse(retrieved), 'retrieved')

    });


    var investorTypeForm = $('#investor_type_form')
    var investmentStageForm = $('#investment_stage_form')
    var foundedRangeForm = document.getElementById('founded_range_form')
    var portfolioSizeForm = document.getElementById('portfolio_size_form')
    var managedAssetsForm = document.getElementById('managed_assets_form')
    var investmentRangeForm = document.getElementById('investment_range_form')

    investorTypeForm.submit((event) => {
        event.preventDefault()

        // ------ this code is specific to the unique .submit function ----
        var selected = event.target.investor_type.selectedOptions

        var selectedOptions = []

        for (var i = 0; i < selected.length; i++) {
            var option = selected[i]
            selectedOptions.push(option.value)
        }
        // ---------- //


        console.log(selectedOptions)
        function filterGate(investor) {

            //  --- just change the contents of the if and the else to match the specific form -- //
            if (selectedOptions.includes(investor.investorType)) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }


        filter_investors_array(filterGate)

    }

    )

    // this function is re-used to comply with DRY
    function filter_investors_array(filterGate) {

        var investorsJson = JSON.parse(localStorage.getItem('hx_investors'))

        if (investorsJson && investorsJson.investorList) {

            var investors = investorsJson.investorList

            var filtered = investors.filter((investor) => {

                return filterGate(investor)
            })

            render_results(filtered)

        }
    }

    // this function is re-used to comply with DRY
    function render_results(filtered) {



        if (filtered && filtered.length) {

            var investorsContainer = $('#investors_wrapper')
            var renderedHTML = ''

            filtered.map((investor) => {
                console.log(investor)

                var renderedInvestor =
                    `<div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="${investor.logo}" alt="${investor.name} logo">
                  <div class="card-body">
                      <h5 class="card-title">${investor.name}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">${investor.description}</h6>
                      <div calss="text-center">
                          <a href="#" class="btn btn-blue mx-auto">More Info</a>
                      </div>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">

                              <div class="float-left">
                                  Founded ${investor.foundedDate}
                              </div>
                              <div class="float-right">
                                  ${investor.category}
                              </div>

                      </small>
                  </div>
              </div>`

                renderedHTML += renderedInvestor



            })

            investorsContainer.html(renderedHTML)

        }

    }


    // -------------- Founded Range Form -----------------




    foundedRangeForm.addEventListener('submit', (event) => {
        event.preventDefault()
        var from = event.target.from.value
        var until = event.target.until.value

        // ---------- //

        function filterGate(investor) {


            //  --- just change the contents of the if and the else to match the specific form -- //
            if (investor.foundedDate <= until && investor.foundedDate >= from) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }


        filter_investors_array(filterGate)
    })


    // ----------- PORTFOLIO SIZE ---------------------

    portfolioSizeForm.addEventListener('submit', (event) => {
        event.preventDefault()
        var from = event.target.from.value
        var until = event.target.until.value

        // ---------- //
        function filterGate(investor) {


            //  --- just change the contents of the if and the else to match the specific form -- //
            if (Number(investor.portfolioSize) <= Number(until) && Number(investor.portfolioSize) >= Number(from)) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }


        filter_investors_array(filterGate)
    })

    //------------- Managed Assets -----------------

    managedAssetsForm.addEventListener('submit', (event) => {
        event.preventDefault()
        var from = event.target.from.value
        var until = event.target.until.value

        // ---------- //
        function filterGate(investor) {


            //  --- just change the contents of the if and the else to match the specific form -- //
            if (Number(investor.portfolioSize) <= Number(until) && Number(investor.portfolioSize) >= Number(from)) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }


        filter_investors_array(filterGate)
    })


    // -------------- Investment stages ------------------

    investmentStageForm.submit((event) => {
        event.preventDefault()

        // ------ this code is specific to the unique .submit function ----
        var selected = event.target.stage_type.selectedOptions

        var selectedOptions = []
        for (var i = 0; i < selected.length; i++) {
            var option = selected[i]
            selectedOptions.push(option.value)
        }
        // ---------- //


        function filterGate(investor) {
            console.log(investor)

            //  --- just change the contents of the if and the else to match the specific form -- //
            if (selectedOptions.includes(investor.investmentThesis)) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }

        filter_investors_array(filterGate)

    })

    // --------------- Investment Range -----------------

    investmentRangeForm.addEventListener('submit', (event) => {
        event.preventDefault()
        var from = event.target.from.value.replace(/,/g, '');
        var until = event.target.until.value.replace(/,/g, '');

        // ---------- //
        function filterGate(investor) {


            //  --- just change the contents of the if and the else to match the specific form -- //
            if (Number(investor.investmentRange) <= Number(until) && Number(investor.investmentRange) >= Number(from)) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }


        filter_investors_array(filterGate)

    })

    // ------------- Managed Assets ------------------

    managedAssetsForm.addEventListener('submit', (event) => {
        event.preventDefault()
        var from = event.target.from.value.replace(/,/g, '');
        var until = event.target.until.value.replace(/,/g, '');

        // ---------- //
        function filterGate(investor) {


            //  --- just change the contents of the if and the else to match the specific form -- //
            if (Number(investor.managedAssets) <= Number(until) && Number(investor.managedAssets) >= Number(from)) {
                return investor
            }
            else {
                return undefined
            }
            // ------ //
        }


        filter_investors_array(filterGate)

    })
</script>