<form class="form-inline my-2 my-lg-0" id="search-form">
    <input name="search" id="search-function" class="form-control mr-sm-2 shrink-search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>


<script>

$( document ).ready(function() {
  $('#search-form').on('submit',(e)=>{
    e.preventDefault()
  var userInput = e.target.search.value
 
    $.ajax({
      url: "/globalsearch",
      method: "POST",
      data: {name: userInput},
      dataType: 'json'
    }).done(function(response){
      
      
      if(response && response.results){

      var renderedInvestors = ''
      var renderedCompanies = ''
      var renderedServices = ''

      console.log(response.results)

      response.results.map((record) => {
        
        if(record.fundingstage || record.fundingstage === null){  
          
          const { name, description, foundedDate, category, logo, id } = record

          var companyHTML = `
          <div class="container">
            <div class="card mb-3">
              <div class="card-body">
                  <h5 class="card-title">${name}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">${description}</h6>
                  <div class="text-center">
                      <form action="/companies/companyprofile" method="POST">
                          <input name="company_id" hidden value="${id}" />
                          <button class="btn btn-blue mx-auto">More Info</a>
                      </form>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">

                          <div class="float-left">
                              Founded ${foundedDate}
                          </div>
                          <div class="float-right">
                              ${category}
                          </div>

                  </small>
              </div>
            </div>
          </div>`

          renderedCompanies += companyHTML



            
        }
  
        if(record.investorType || record.investorType === null){
          const {logo, name, description, id, foundedDate, investorType} = record
          var investorHTML = `
          <div class="container">
            <div class="card mb-3">
              <div class="card-body">
                  <h5 class="card-title">${name}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">${description}</h6>
                  <div class="text-center">
                      <form action="/investors/investorprofile" method="POST">
                          <input name="investor_id" hidden value="${id}" />
                          <button class="btn btn-blue mx-auto">More Info</button>
                      </form>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">

                          <div class="float-left">
                              Founded ${foundedDate}
                          </div>
                          <div class="float-right">
                            ${investorType}
                          </div>

                  </small>
              </div>
            </div>
          </div>`

          renderedInvestors += investorHTML

        }
  
        if(record.batchSize || record.batchSize === null){
          const { name, description, founded, type, logo, id } = record
          var serviceHTML = `
          <div class="container">
            <div class="card mb-3">
              <div class="card-body">
                  <h5 class="card-title">${name}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">${description}</h6>
                  <div class="text-center">
                      <form action="/services/serviceprofile" method="POST">
                          <input name="service_id" hidden value="${id}" />
                          <button class="btn btn-blue mx-auto">More Info</button>
                      </form>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">
                      
                          <div class="float-left">
                              Founded ${founded}
                          </div>
                          <div class="float-right">
                              ${type}
                          </div>
                      
                  </small>
              </div>
            </div>
          </div>`

          renderedServices += serviceHTML
        }
        
      })

      

      function showResults(){

      

        var profiles = []
        if(renderedInvestors.length){
          profiles.push('<div class="mt-3"> <h2 class="text-center">Investors',renderedInvestors, '</div>')
        }

        if(renderedCompanies.length){
          profiles.push('<div class="mt-3"> <h2 class="text-center">Companies</h2>', renderedCompanies, '</div>' )
        }

        if(renderedServices.length){
          profiles.push('<div class="mt-3"> <h2 class="text-center">Services</h2>', renderedServices, '</div>' )
        }

        profiles.join(profiles)
       

        $("#results").html(profiles)


      }

      showResults()
    }
    })
 
});

  }
  )

</script>