
{{!-- Button Group --}}
<div class="container filter-buttons mx-auto">
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#type">Type</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#batchSize">Batch Size</button>
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#foundedDate">Founded Date</button>
    <button type="button" class="btn btn-blue">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="academiaSupportedCheck">
            <label class="form-check-label" for="academiaSupportedCheck">Academia Supported</label>
        </div>
    </button>
    <button type="button" class="btn btn-blue">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="associatedFundCheck">
            <label class="form-check-label" for="associatedFundCheck">Associated Fund</label>
        </div>
    </button>
</div>

{{!-- Type Modal --}}
<div class="modal fade" id="type" tabindex="-1" role="dialog" aria-labelledby="typeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typeLabel">Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{#each serviceList}}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="typeCheck">
                            <label class="form-check-label" for="typeCheck">{{type}}</label>
                        </div>
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Batch Size Modal --}}
<div class="modal fade" id="batchSize" tabindex="-1" role="dialog" aria-labelledby="batchSizeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="batchSizeLabel">Batch Size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="batchSizeCheck1">
                            <label class="form-check-label" for="batchSizeCheck1">1-10</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="batchSizeCheck2">
                            <label class="form-check-label" for="batchSizeCheck2">11-20</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="batchSizeCheck3">
                            <label class="form-check-label" for="batchSizeCheck3">21+</label>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Founded Date Modal --}}
<div class="modal fade" id="foundedDate" tabindex="-1" role="dialog" aria-labelledby="foundedDateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="foundedDateLabel">Founded Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>