{{> header}}

<div class="text-center">
    <h1>Companies</h1>
</div>

<div class="container text-center">
    {{> filter-companies}}
</div>

<div id="companies_wrapper" class="container card-columns">
    {{> companyCard}}
</div>

{{> footer}}