<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" 
  		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    	crossorigin="anonymous">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
	<title>Registration Form</title>
	<script src="jquery-3.3.1.min.js"></script>
	<script src="Form.js"></script>
</head>
<body>
	<h1>Register a new Profile</h1>
	<fieldset>
		<legend>Please choose a profile type:</legend>
		<input type="radio" id="startup" name="profile"/>
		<label for="startup">Startup</label>
		<input type="radio" id="investor" name="profile" />
		<label for="investor">Investor</label>
		<input type="radio" id="hub" name="profile" />
		<label for="hub">Hub</label>
	</fieldset>	
<br>

<div class="startup">
	<input type="text" id="sName" required/>
	<label for="sName">Name of Startup</label>
	<input type="textarea" id="desc" required/>
	<label for="desc">Description</label>
	<input type="text" id="type" required/>
	<label for="type">Type of Startup</label>
	<input type="text" id="location" required/>
	<label for="location">Location</label>
	<button href="" id="startup">Submit</button>
</div>
</body>
</html>