{{> header}}

<div class="text-center">
    <h1>Investors</h1>
</div>

<div class="container text-center">
    {{> investorsFilter}}
</div>

<div id="investors_wrapper" class="container card-columns">
    {{> investorCard}}
</div>

{{> footer}}