{{> header}}

  {{message}}

  <!-- Create a Profile -->
	<h1>Register a new Profile</h1>
	<fieldset>
		<legend>Please choose a profile type:</legend>
		<input type="radio" id="startup" class="button" name="profile"/>
		<label for="startup">Startup</label>
		<input type="radio" class="button" id="investor" name="profile" />
		<label for="investor">Investor</label>
		<input type="radio" class="button" id="hub" name="profile" />
		<label for="hub">Hub</label>
	</fieldset>	
<br>

{{#if startup}}
<form action="/register/startup" method='POST'>
<div class="startup" name="startupInput">
	<input type="text" id="sName" required/>
	<label for="sName">Startup Name</label>
	<input type="textarea" id="desc" required/>
	<label for="desc">Description</label>
	<input type="text" id="type" required/>
	<label for="type">Type of Startup</label>
	<input type="text" id="location" required/>
	<label for="location">Location</label>
	<button href="" id="startupSubmit">Submit</button>
</div>
</form>
{{/if}}
<form action="/register/investor" method='POST'>
<div class="investor" name="investorInput">
	<input type="text" id="iName" required/>
	<label for="sName">Investor Name</label>
	<input type="textarea" id="desc" required/>
	<label for="desc">Description</label>
	<input type="text" id="type" required/>
	<label for="type">Type of Startup</label>
	<input type="text" id="location" required/>
	<label for="location">Location</label>
	<button href="" id="startup">Submit</button>
</div>
</form>
<form action="/register/hub" method='POST'>
<div class="hub" name="hubInput">
	<input type="text" id="hName" required/>
	<label for="sName">Hub Name</label>
	<input type="textarea" id="desc" required/>
	<label for="desc">Description</label>
	<input type="text" id="type" required/>
	<label for="type">Type of Startup</label>
	<input type="text" id="location" required/>
	<label for="location">Location</label>
	<button href="" id="startup">Submit</button>
</div>
</form>
{{> footer}}