<p class="lead text-center">Register your company with Houston Exponential</p>
<div class="container" style="margin: 0 auto">
	<div class="row">
	<label for="select">Select a Profile Type:</label>
	<a class="btn d-inline-block m-3 btn-info mt-4" href="/registerCompany">Company</a>
	<a class="btn btn-info m-3 mt-4" href="/registerInvestor">Investor</a>
	<a class="btn btn-info m-3 mt-4" href="/registerService">Service Hub</a>
	</div>
</div>
