{{> header}}

  {{message}}

<div class="container">
	<h1 class="text-center" style="margin-top: 20px">Create a Service Hub Profile</h1>
</div>
<form action="/registerCompany" method='POST'>
<div class="container">
      <div class="row"><div class="col-md-8 m-auto mt-10">
		<label for="name">Service Name</label>
			<input class="form-control" type="text" id="name" required/>
		<label for="type">Type of Service</label>
			<select class="form-control" id="type">
				<option value="volvo">Software</option>
				<option value="saab">Information Technology, Privacy and Security</option>
				<option value="opel">Biotechnology, Health Care, Science and Engineering</option>
				<option value="audi">Energy, Natural Resources, Sustainability</option>
			</select>
		<label for="description">Description</label>
			<textarea rows="1" class="form-control" id="description" placeholder="Quick summary of your business" required/></textarea>
		<label for="batchSize">Batch Size</label>
			<select class="form-control" id="batchSize">
				<option value="1 - 10">1 - 10</option>
				<option value="11 - 20">11 - 20</option>
				<option value="21 +">21 +</option>
			</select>
		<label for="website">Company Web site</label>
			<input class="form-control" id="website" type="url" placeholder="Link to company site"/>
		<label for="founded">Founded Year</label>
			<input class="form-control" type="number" maxlength="4" id="founded" placeholder="e.g. 2004"/>
		<label for="location">Location</label>
			<input type="text" class="form-control" id="location" placeholder="Enter a street address or Houston neighborhood"required/>
		<div class="form-check">
    		<input type="checkbox" class="form-check-input" id="academiaSupported">
    		<label class="form-check-label" for="academiaSupported">Academia Supported?</label>
  </div>
		<label for="logo">Logo URL</label>
			<input id="logo" class="form-control" type="url" placeholder="Link to logo image"/>
		<label for="desc">About Summary</label>
			<textarea rows="3" class="form-control" id="desc" 
			placeholder="A more in-depth summary of your business's origins, interests, and future plans."></textarea>
		<label for="associatedFund">Associated Fund</label>
			<input type="text" class="form-control" id="associatedFund" placeholder="Enter the investor name associated with this hub"required/>
		<label for="website">Web site</label>
			<input class="form-control" id="website" type="url">
		<label for="contact">Point of Contact</label>
			<input class="form-control" id="contact" placeholder="e.g. John Smith: johnsmith@company.com, (281) 555-5555"/>
		<label for="bio">About Summary</label>
		<textarea rows="3" class="form-control" id="bio" 
		placeholder="A more in-depth summary of your business's origins, interests, and future plans."></textarea>
	
	<input type="Submit" class="btn btn-info btn-block mt-4" href="" id="service"/>
</div></div></div>
</form>

{{> footer}}