{{> header}}

  {{message}}

  
<form action="/register/investor" method='POST'>
<div class="investor" name="investorInput">
	<input type="text" id="iName" required/>
	<label for="sName">Investor Name</label>
	<input type="textarea" id="desc" required/>
	<label for="desc">Description</label>
	<input type="text" id="type" required/>
	<label for="type">Type of Startup</label>
	<input type="text" id="location" required/>
	<label for="location">Location</label>
	<button href="" id="startup">Submit</button>
</div>
</form>