{{> header}}
{{message}}

<div class="container">
  <h1 class="text-center" style="margin-top: 20px">
    Create an Investor Profile
  </h1>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-md-8 m-auto mt-10">
	    <form action="/investors/register" method='POST'>
        <label for="name">Investor Name</label>
	        <input type="text" class="form-control" name="name" placeholder="Company Name"/>
        <label for="logo">Logo URL</label>
	        <input type="url" class="form-control" name="logo" placeholder="Link to logo image"/>
        <label for="description">Description</label>
	        <textarea rows="1" class="form-control" placeholder="Quick summary of your business" name="description" /></textarea>
        <label for="investorType">Type of Investor</label>
	        <select name="investorType" class="form-control" >
            <option value="VC">VC</option>
    				<option value="Corporate VC">Corporate VC</option>
    				<option value="Private Equity">Private Equity</option>
    				<option value="VC and Private Equity">VC and Private Equity</option>
    				<option value="Crowdfunding">Crowdfunding</option>
    				<option value="Angel Group">Angel Group</option>
    				<option value="Angel">Angel</option>
    				<option value="Incubator">Incubator</option>
	        </select>
        <label for="investmentThesis">Investment Thesis</label>
	        <input type="text" class="form-control" name="investmentThesis" placeholder="Enter a street address or Houston neighborhood"/>
        <label for="InvestmentRange">Investment Range</label>
	        <select name="investmentRange" class="form-control">
            <option value="100k - 1mil">100k - 1mil</option>
    				<option value="1mil - 5mil">1mil - 5mil</option>
    				<option value="6mil - 10mil">6mil - 10mil</option>
    				<option value="Unlimited">Unlimited</option>
	        </select>
        <label for="portfolioSize">Portfolio Size</label>
	        <select class="form-control" name="portfolioSize">
            <option value="1 - 10">1 - 10</option>
    				<option value="11 - 50">11 - 50</option>
    				<option value="51 - 100">51 - 100</option>
    				<option value="101 - 250">101 - 250</option>
    				<option value="250 - 500">250 - 500</option>
	        </select>
        <label for="foundedDate">Founded Year</label>
	        <input class="form-control" type="number" maxlength="4" placeholder="e.g. 2014" name="foundedDate"/>
        <label for="location">Location</label>
          <input type="text" class="form-control" name="location" placeholder="Enter a street address or Houston neighborhood"/>
        <label for="website">Company Website</label>
          <input class="form-control" name="website" type="url" placeholder="Link to company site"/>
        <label for="contact">Point of Contact</label>
	        <input class="form-control" name="contact" type="url" placeholder="e.g. John Smith: johnsmith@company.com, (281) 555-5555"/>
        <label for="bio">About Summary</label>
	        <textarea rows="3" class="form-control" name="bio" placeholder="A more in-depth summary of your business's origins, interests, and future plans."></textarea>
        <input type="submit" class="btn btn-info btn-block mt-4"/>
      </form>
    </div>
  </div>
</div>

{{> footer}}
