{{> header}}

  {{message}}

<form action="/register/startup" method='POST'>
<div class="startup" name="startupInput">
	<label for="sName">Startup Name</label>
	<input type="text" id="sName" required/>
	<label for="logo">Logo URL</label>
	<input id="logo" type="url" placeholder="Link to logo image"/>
	<label for="desc">Description</label>
	<input type="textarea" id="desc" required/>
	<label for="category">Type of Startup</label>
	<select id="category">
  		<option value="volvo">Software</option>
  		<option value="saab">Information Technology, Privacy and Security</option>
  		<option value="opel">Biotechnology, Health Care, Science and Engineering</option>
  		<option value="audi">Energy, Natural Resources, Sustainability</option>
		<option value="volvo">Apps, Health Care, Mobile, Software</option>
		<option value="volvo">Artificial Intelligence, Data and Analytics, Financial Services, Sales and Marketing, Software</option>
		<option value="volvo">Consumer Goods</option>
		<option value="volvo">Apps, Data and Analytics, Software</option>
	</select>
	<label for="location">Location</label>
	<input type="text" id="location" required/>
	<label for="employees">Number of Employees</label>
	<select id="employees">
		<option value="volvo">0 - 50</option>
		<option value="volvo">Software</option>
		<option value="volvo">Software</option>
	</select>
	<label for="fundingStage">Funding Stage</label>
	<select id="fundingStage">
		<option value="volvo">0 - 50</option>
		<option value="volvo">Software</option>
		<option value="volvo">Software</option>
	</select>
	<label for="founded">Founded Year</label>
	<input type="number" id="founded"/>
	<label for "businessModel">Funding Stage</label>
	<select id="businessModel">
		<option value="volvo">IDGAF</option>
		<option value="volvo">Software</option>
		<option value="volvo">Software</option>
	</select>
	<label for "businessModel">Funding Stage</label>
	<select id="productStage">
		<option value="volvo">Still in production</option>
		<option value="volvo">Software</option>
		<option value="volvo">OnTheMarket</option>
	</select>
	<label for="web site">Company Web site</label>
	<input id="web site" type="url" placeholder="Link to company site"/>
	<label for="contactPerson">Point of Contact</label>
	<input id="contactPerson" placeholder="John Smith"/>
	<button href="" id="startupSubmit">Submit</button>
</div>
</form>

{{> footer}}