{{> header}}

<div class="container">
	<h1 class="text-center" style="margin-top: 20px">Register your company with Houston Exponential</h1>
	<p class="justify" style="margin-top: 20px">Create a profile for a startup, investor, 
		or services hub. The profile can then be searched and reviewed by interested parties on 
		the Houston Exponential web site. Include contact information to help network and 
		increase business traffic.</p>
</div>
<div class="container" style="margin: 0 auto">
	<div class="row">
	<label class="ml-3" for="select">Select a Profile Type:</label>
	<a class="btn d-inline-block m-3 btn-info mt-4" href="/registerCompany">Company</a>
	<a class="btn btn-info m-3 mt-4" href="/registerInvestor">Investor</a>
	<a class="btn btn-info m-3 mt-4" href="/registerService">Service Hub</a>
	</div>
</div>

{{> footer}}