{{> header}}

  {{message}}

<form action="/register/hub" method='POST'>
<div class="hub" name="hubInput">
	<input type="text" id="hName" required/>
	<label for="sName">Hub Name</label>
	<input type="textarea" id="desc" required/>
	<label for="desc">Description</label>
	<input type="text" id="type" required/>
	<label for="logo">Logo URL</label>
	<input id="logo" type="url" placeholder="Link to logo image"/>
	<label for="location">Location</label>
	<label for="founded">Founded Year</label>
	<input type="number" maxlength="4" id="founded"/>
	<label for="academia">Academia Supported?</label>	
	<input id="academia" value="supported" type="checkbox"/>
	<label for="contactPerson">Point of Contact</label>
	<input id="contactPerson" placeholder="John Smith"/>
	<button href="" id="startup">Submit</button>
</div>
</form>
{{> footer}}