{{> header}}

<div class="text-center">
    <h1>Services</h1>
</div>

<div class="container text-center">
    {{> servicesFilter}}
</div>

<div class="container card-columns">
    {{> serviceCard}}
</div>

{{> footer}}