.logo-footer {
    width: 300px;
}

.footer-box {
    display: flex;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links i {
    font-size: 2.5em
}