.welcome-container {
    width: 100%;
    height: 400px;
    position: relative;
}

.welcome-div {
    background-image: url("../Images/houston.jpg");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    border: 1px solid;
    opacity: .4;
    position: absolute;
    z-index: 10
}

.overlay {
    height: 100%;
    width: 100%;
    color: #3F637B;
    font-size: 4em;
    position: absolute;
    z-index: 1;
}

.company-cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.company-cards {
    min-height: 600px;
    margin: 20px;
    width: 18rem;
    display: flex;
}

.company-cards-img {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center
}

.company-cards-text {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
